<%- include('../layouts/adminheader.ejs') %>

    
<section>
    <div class="container">
      <div class="row mt-4 ">
        <h1 style="text-align: center;">Banner Management</h1>
        <a href="/admin/adminOrder" class="btn btn-success ml-auto" >go back</a>
      </div>
      <% if(typeof message!="undefined" ){ %>
        <p class="text-danger">
            <%= message %>
        </p>
        <%}%>

    </div>
    <div>
    <form action="/admin/loadBanners" method="post" enctype="multipart/form-data">
      <input type="text" name="banner" placeholder="Banner Name">
      <input type="file" name="bannerImage" multiple />
      <button type="submit" class="btn btn-info mt-3">Upload</button>
      <hr />
    </form>
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col"> Sl No</th>
          <th scope="col">Banner Name</th>
          <th scope="col">Banner Images</th>
          <!-- <th scope="col">Description</th> -->
          <th>Select</th>
          <!-- <th scope="col">Status</th> -->
        </tr>
      </thead>
      <tbody>
        <% if(banners.length>0){ %>
        <% for(let i=0;i<banners.length;i++){ %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%=banners[i].banner %></td> 
              <td><img style="width: 50px; height: 50px;" src="/banners/<%= banners[i].bannerImage[0]%>" alt="">
              <img style="width: 50px; height: 50px;" src="/banners/<%= banners[i].bannerImage[1]%>" alt=""></td>
              <td>
                <% if(banners[i].is_active==1) { %>
                  <img style="width: 1.6vw"
                      src="/banners/greenmark.png" />
                  <% } else { %>

                      <% } %>
              </td>
              <td><a href="/admin/currentBanner?id=<%= banners[i]._id %>"
                class="btn btn-primary"> Choose </a>
              </td>

            </tr>
            <% }} else { %>
                <tr>
                    <td colspan="5">Banner not found</td>
                </tr>
            <% } %>
</tbody>

            


      </tbody>
    </table>

    </div>




  </section>
   