<% if(isLoggedin) {%>
<%- include("../layouts/userheader.ejs") %>
<% } else { %>
    <%- include("../layouts/guestHeader.ejs") %>
 <% } %>

<!-- Page Header Start -->
<div class="container-fluid bg-info mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 15vh;">
        <h1 class="font-weight-semi-bold text-uppercase ">Shopping Cart&nbsp;<img style="margin-bottom: 2vh;" src="\user\img\1x\outline_shopping_cart_black_48dp.png"></h1>
        <div class="d-inline-flex">
        </div>
    </div>
</div>
<!-- Page Header End -->



<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <% if(cartProducts.item.length>0){ %>
        <div class="col-lg-8 table-responsive mb-5">
            <% if(id) {%>
                 
                
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr class="table_head">
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <% for(let key of cartProducts.item) { %>
                 
                    <tr>
                        
                        <td class="align-middle"><img src="/banners/<%=key.productId.image[0]%>" alt="img" style="width: 50px;"><%=key.productId.name%></td>
                        <td class="align-middle">price: <%=key.productId.price %></td>
                        <td class="align-middle">
                            <div class="input-group mb-3">
                                <input type="hidden" id="productId" value="<%= key.productId._id %> %>">
                             <input type="number" name="quantity" class="quantity form-control input-number qty"  value="<%= key.qty %>" min="1" max="10">
                          </div>
                        </td>
                        <td class="align-middle" id="sellingPrice">Total Price: <%=key.productId.price*key.qty%></td>
                        <td class="align-middle"><a href="/delete-cart?id=<%=key.productId._id%>"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></a></td>
                    </tr>
                        <% }} else { %>
                            <section class="categories ">
                                <div class="container-fluid mt-5">
                                    <div class="d-flex justify-content-center">
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_xYvGhX.json"  background="transparent"  speed="1"  style="width: 500px; height: 300px;"  loop  autoplay></lottie-player>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h1>No Products Found</h1>
                                </div>
                            </div>
                            </section>
                            <% } %>
                    
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            
            
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="total" id="total"><%= cartProducts.totalPrice %></h6>
                    </div>
                    <!-- <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div> -->
                </div>
                
                <div class="card-footer border-secondary bg-transparent">
                    
                    
                        
                    <div class="d-flex justify-content-between mt-2">
                        <% if(id) { %>
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold" id="totall"><%= cartProducts.totalPrice %></h5>
                        <% } %>
                    </div>
                    
                    <button class="btn btn-block btn-primary my-3 py-3"><a href="/checkout" style="color: white;">Proceed To Checkout</a></button>
                </div>
                
            </div>
           
            
        </div> 
         <%  }else  {%>

                <section class="categories ">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_qh5z2fdq.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"   loop  autoplay></lottie-player>
                </div>
                </div>
                </section> 
        <% }%>
    </div>
</div>
<!-- Cart End -->

<script> 


const qty = document.querySelectorAll('.qty')		   
    const qtyHandler = async(e)=>{
       try {
         const productId = e.target.parentElement.children[0].value
          const data = {qty:e.target.value}
            const response = await fetch(`/changeProductQnty?id=${productId}`,{
             method:'post',
             headers:{'Content-Type':'application/json'},
              body:JSON.stringify(data)
            })
            const value = await response.json()
           document.querySelector('#sellingPrice').innerText = value.totalPrice
           e.target.parentElement.parentElement.nextElementSibling.innerText = value.price * e.target.value
		   document.querySelector('#total').innerText = value.totalPrice
           document.querySelector('#totall').innerText = value.totalPrice
       } catch (error) {
         console.log(error.message);
       }
    }
    qty.forEach(q =>{
     q.addEventListener('change',qtyHandler)
    })
</script>

<%- include("../layouts/userfooter.ejs") %>
