<% if(isLoggedin) {%>
    <%- include("../layouts/userheader.ejs") %>
    <% } else { %>
        <%- include("../layouts/guestHeader.ejs") %>
     <% } %>

    <!-- Page Header Start -->
    <div class="container-fluid bg-info mb-5">
        <div class="row">
        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 15vh;">
            <h1 class="font-weight-semi-bold text-uppercase ">Checkout &nbsp;<img  style="margin-bottom: 2vh;" src="\user\img\1x\1x\outline_shopping_cart_checkout_black_48dp.png"></h1>
            <div class="d-inline-flex">
            </div>
        </div>
    </div>
    </div>
    <!-- Page Header End -->

    <!-- coupon card -->
    <div class="container-fluid">
     <div class="row">
        <!-- <div class="col-sm-8"></div> -->
        <!-- <div class="col-sm-3"></div> -->
        <div class="col-sm-12 " style="margin-left: 10rem;">

      <div class="card text-white bg-dark mb-3" style="max-width: 60rem;">
        <div class="card-header bg-secondary justify-content-center">Coupon Code</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <form class="mb-5" action="/add-coupon" method="post">
            <div class="form-outline flex-fill mb-3">
                
                    
                    
                
               <!-- <form class="mb-5" action="/add-coupon" method="post"> -->
               <!-- <input type="text" class="form-control p-4" name="offer"  placeholder="Coupon Code"> -->
               
               <label class="form-label  select-label" for="form3Example1c">Coupon</label>
               
               
    
               <select name="offer"  style="background-color:whitesmoke;"class="form-control">
                
               <option value="" disabled selected>select coupon</option>
               <% if(offers){ %>
               
               
       <% for(let i=1;i <=offers.length; i++){ %>
           <option value="<%= offers[i-1].name %>">
               <%= offers[i-1].name %>
               
           </option>
           <%} %>
           
    
           
                                               <% }else{ %>
                                                   <h1>No Coupons to add</h1>
                                                   <% } %>
                                                   
                                                   
               </select>
               
    
              <div class="input-group-append mt-3">
                
                <button class="btn btn-danger" type="submit">Apply Coupon</button>
                
              </div>
              
                
                
              
            </div>
            </form>
        </div>
       </div>
    </div>
      </div>
    </div>

    <!-- coupon -->
    
       
       <br>


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        
        <form action="/checkout" method="post" class="billing-form">
        
            <div class="row px-xl-5">
                <a href="/address" ><i class="icon-edit btn-danger">Add address</i></a>
                <div class="col-lg-8 table-responsive mb-5">
                
                <div class="col-lg-10">
                    <div class="mb-4">
                        <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                        <div class="row">
                            <% if(updateAddress !=null) { %>

                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">First Name</label>
                                    <input class="form-control border-secondary font-weight-medium" type="text" name="firstname" placeholder=""
                                        value="<%=updateAddress.firstname %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">Last Name</label>
                                    <input class="form-control border-secondary" type="text" name="lastname" placeholder=""
                                        value="<%= updateAddress.lastname %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">E-mail</label>
                                    <input class="form-control border-secondary" type="text" name="email" placeholder=""
                                        value="<%= updateAddress.email %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">Mobile No</label>
                                    <input class="form-control border-secondary" type="text" name="mobno" placeholder=""
                                        value="<%= updateAddress.mobno %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">Address Line 1</label>
                                    <input class="form-control border-secondary" type="text" name="address1" placeholder=""
                                        value="<%= updateAddress.address1 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">Address Line 2</label>
                                    <input class="form-control border-secondary" type="text" name="address2" placeholder=""
                                        value="<%= updateAddress.address2 %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">country</label>
                                    <input class="form-control border-secondary" type="text" name="country" placeholder=""
                                        value="<%= updateAddress.country %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">City</label>
                                    <input class="form-control border-secondary" type="text" name="city" placeholder=""
                                        value="<%= updateAddress.city %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">State</label>
                                    <input class="form-control border-secondary" type="text" name="state" placeholder=""
                                        value="<%= updateAddress.state %>">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label style="font-weight: bold;">ZIP Code</label>
                                    <input class="form-control border-secondary" type="text" name="zip" placeholder=""
                                        value="<%= updateAddress.zip %>">
                                </div>
                                <!--  <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="newaccount">
                            <label class="custom-control-label" for="newaccount">Create an account</label>
                        </div> -->
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <!-- <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label> -->
                            </div>
                        </div>
                        <% } else { %>

                            <h3>no address found</h3>

                            <% } %>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    
                    
                    <div class="tab-pane" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                        <h5>You Can Select The Following Shipping Address</h5>
                        <div class="row ">
                            <div class="col-sm">
                            <%if(userAddress.length>0){
                                for(let key of userAddress){%>
                                <a href="/checkout?addressid=<%=key._id%>">
                                    <div class="col-lg-8 mb-3">
                                        <a href="/checkout?addressid=<%=key._id%>">
                                            <div class="card card-dashboard border-secondary">

                                                <a href="/checkout?addressid=<%=key._id%>">
                                                    <div class="card-body text-dark" style="text-color: black;">
                                                        <h3 class="card-title text-dark">Shipping
                                                            Address</h3>
                                                        <p>
                                                            <%= key.firstname %>
                                                            <%=key.lastname%><br>
                                                            <%= key.address1 %> , <%=
                                                                key.address2 %>
                                                                <br>
                                                            <%= key.city %>
                                                            , <%=
                                                                key.state%>
                                                                <br>
                                                            <%= key.country
                                                                           %>
                                                                <br>
                                                            <%= key.zip
                                                                            %>
                                                                <br>
                                                            <%= key.mobno
                                                                            %>
                                                                <br>
                                                                <br>
                                                            <a href="/delete-address?id=<%=key._id%>" ><i class="icon-edit btn-danger">Delete</i></a> 
                                                                                                
                                                        </p>
                                                    </div>
                                                </a>
                                                <!-- End .card-body -->
                                            </div>
                                        </a>
                                        <!-- End .card-dashboard -->
                                    </div>
                                </a>
                                <!-- End .col-lg-6 -->
                                <%}}else{%>

                                    <div class="col-lg-6">
                                        <a href="">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Shipping Address
                                                    </h3>

                                                    <p>You have not set up this type of
                                                        address yet.<br>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <%}%>
                        </div>
                        </div>
                    </div>
                </div>
            
            
            

                
            
            </div>
            
            
            <div class="col-lg-3">
                
                    <!-- <div class="input-group"> -->
                        
                <div class="card border-color-black text-white bg-dark mb-5">
                    <div class="card-header bg-secondary border-0 ">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <% if(id) { %>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">Products</h5>
                            <% for(let key of cartProducts.item) {%>
                                <div class="d-flex justify-content-between">
                                    <p>
                                        <%= key.productId.name %>
                                    </p>
                                    <p>
                                        <%= key.qty %>
                                    </p>
                                    <p>
                                        <%= key.productId.price*key.qty %>
                                    </p>

                                </div>
                                <% } %>

                                    <!-- <div class="d-flex justify-content-between">
                        <p>Colorful Stylish Shirt 2</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Colorful Stylish Shirt 3</p>
                        <p>$150</p>
                    </div> -->
                                    <hr class="mt-0">
                                    <div class="d-flex justify-content-between mb-3 pt-1">
                                        <h6 class="font-weight-medium">Subtotal</h6>
                                        <h6 class="font-weight-medium">
                                            <%= cartProducts.totalPrice %>
                                        </h6>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-medium">Shipping</h6>
                                        <h6 class="font-weight-medium">free</h6>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <% if(offers) { %>
                                        <h6 class="font-weight-medium">Coupon</h6>
                                        <h6 class="font-weight-medium"><%= offer.name %></h6>
                                        <% }%>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <% if(offers) { %>
                                        <h6 class="font-weight-medium">discount</h6>
                                        <h6 class="font-weight-medium"><%= (cartProducts.totalPrice/100)*offer.discount %></h6>
                                        <% }%>
                                    </div>

                        </div>
                        <% } %>
                            <div class="card-footer border-secondary bg-transparent">
                                <div class="d-flex justify-content-between mt-2">
                                    <h5 class="font-weight-bold">Total</h5>
                                    <h5 class="font-weight-bold">
                                        <%= cartProducts.totalPrice-(cartProducts.totalPrice/100)*offer.discount %>
                                    </h5>
                                </div>
                            </div>
                </div>
                <div class="card border-border-color-black text-white bg-dark mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    
                    <div class="card-body">
                        
                         
                        
                            
                            <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="COD"
                                    id="directcheck">
                                <label class="custom-control-label" for="directcheck">CASH ON DELIVERY</label>
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="Razorpay"
                                    id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">RAZOR PAY</label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button  class="btn btn-lg btn-block btn-primary  font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                    

                </div>
            </div>
         </div>
         </form>
       
    </div>
    
</div>
    <!-- Checkout End -->

<%-include("../layouts/userfooter.ejs") %>