<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabcart</title>
    <style>
        body{
            background-color: #F6F6F6; 
            margin: 0;
            padding: 0;
        }
        h1,h2,h3,h4,h5,h6{
            margin: 0;
            padding: 0;
        }
        p{
            margin: 0;
            padding: 0;
        }
        .container{
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
        .brand-section{
           background-color: #0d1033;
           padding: 10px 40px;
        }
        .logo{
            width: 50%;
        }

        .row{
            display: flex;
            flex-wrap: wrap;
        }
        .col-6{
            width: 50%;
            flex: 0 0 auto;
        }
        .text-white{
            color: #fff;
        }
        .company-details{
            float: right;
            text-align: right;
        }
        .body-section{
            padding: 16px;
            border: 1px solid gray;
        }
        .heading{
            font-size: 20px;
            margin-bottom: 08px;
        }
        .sub-heading{
            color: #262626;
            margin-bottom: 05px;
        }
        table{
            background-color: #fff;
            width: 100%;
            border-collapse: collapse;
        }
        table thead tr{
            border: 1px solid #111;
            background-color: #f2f2f2;
        }
        table td {
            vertical-align: middle !important;
            text-align: center;
        }
        table th, table td {
            padding-top: 08px;
            padding-bottom: 08px;
        }
        .table-bordered{
            box-shadow: 0px 0px 5px 0.5px gray;
        }
        .table-bordered td, .table-bordered th {
            border: 1px solid #dee2e6;
        }
        .text-right{
            text-align: end;
        }
        .w-20{
            width: 20%;
        }
        .float-right{
            float: right;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="brand-section">
            <div class="row">
                <div class="col-8">
                    <h1 class="text-white">E-SHOPPER</h1>
                </div>
                <div class="col-4">
                    <div class="company-details">
                        <p class="text-white">trivandrum</p>
                        <p class="text-white">kerala,india</p>
                        <p class="text-white">+91 1234567890</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="body-section">
            <div class="row">
                <div class="col-6">
                    <h2 class="heading">Invoice No:<h2> <h5><%=order._id %></h5></h2>
                    <p class="sub-heading">Order Date:<%= order.createdAt %></p>
                </div>
                <div class="col-6">
                        
                    
                </div>
            </div>
        </div>

        <div class="body-section">
            <h3 class="heading">Ordered Items</h3>
            <br>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product</th>
                        <!-- <th class="w-20">Price</th> -->
                        <th class="w-20">Quantity</th>
                        <th class="w-20">Price</th>
                        <th class="w-20">Grand Total</th>
                    </tr>
                </thead>
                <tbody>
                    <%  for(let i=0;i<order.products.item.length;i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= order.products.item[i].productId.name %></td>
                        <!-- <td>10</td> -->
                        <td><%= order.products.item[i].qty %></td>
                        <td><%= order.products.item[i].price %></td>
                    </tr>
                    <%}%>
                    <tr>
                        <td></td>
                        <td colspan="3" class="text-right">Sub Total</td>
                        <td><%= order.products.totalPrice %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3" class="text-right">Discount</td>
                        <td> <%= order.discount %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3" class="text-right">Shipping</td>
                        <td>free</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3" class="text-right">Total Paid</td>
                        <td><%= order.amount  %></td>
                    </tr>
                </tbody>
            </table>
            <br>
           
            <h3 class="heading">Payment Mode: <%=order.payment%></h3>
        </div>

        <div class="body-section">
            <p>&copy; Copyright 2023 - ESHOPPER. All rights reserved. 
                <a href="eshopper.tech" class="float-right">eshopper.tech</a>
            </p>
        </div>      
    </div>      

</body>
</html>
